extends common/layout

block head
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title new publication

block content
  body(style='height: 1050px;')
    .wrapper
      header.header
        include common/logo
          span.logo__name Типотека
        include common/new-article-btn
        .header__dropdown
          a.button.button--burger.header__burger(href='#') Открыть меню
          ul.navigation.header__navigation
            li.navigation__item
              a(href='index') index.html --- все ссылки
            li.navigation__item
              a(href='main') main.html --- Главная страница
            li.navigation__item
              a(href='main-variation') main-variation.html --- Главная страница (варианты вида)
            li.navigation__item
              a(href='main-no-news') main-no-news.html --- Страница без новостей и комментов
            li.navigation__item
              a(href='admin-my-publications-2') admin-my-publications-2.html --- Мои записи
            li.navigation__item
              a(href='admin-categories') admin-categories.html --- Категории
            li.navigation__item
              a(href='admin-my-publications-1') admin-my-publications-1.html --- Комментарии
            li.navigation__item
              a(href='new-post-photo') new-post-photo.html --- Страница для нового поста
            li.navigation__item
              a(href='new-post-photo-1') new-post-photo-1.html --- Страница добавления нового поста
            li.navigation__item
              a(href='new-post-photo-2') new-post-photo-2.html --- Страница добавления нового поста (выбор даты)
            li.navigation__item
              a(href='new-post-photo-3') new-post-photo-3.html --- Страница добавления нового поста (заполненная)
            li.navigation__item
              a(href='main-empty') main-empty.html --- Главная страница пустая
            li.navigation__item
              a(href='registration') registration.html --- Регистрация
            li.navigation__item
              a(href='sign-in-error-1') sign-in-error-1.html.html --- Регистрация c ошибками
            li.navigation__item
              a(href='sign-in-error-2')
                | sign-in-error-2.html--- Регистрация c
                | ошибкой поля email
            li.navigation__item
              a(href='sign-in-error-3')
                | sign-in-error-3.html--- Регистрация c
                | ошибкой поля пароль
            li.navigation__item
              a(href='publications-by-category') publications-by-category.html --- Список публикаций в категории
            li.navigation__item
              a(href='404') 404.html --- Страница для отображения ошибок
            li.navigation__item
              a(href='500.html') 500.html --- Страница для отображения ошибок
            li.navigation__item
              a(href='search.html') search.html --- Страница поиска
            li.navigation__item
              a(href='search-2.html') search-2.html --- Страница поиска с результатами
            li.navigation__item
              a(href='search-3.html') search-3.html --- Страница поиска пустая
            li.navigation__item
              a(href='post-user.html') post-user.html --- Страница поcта (для пользователя)
            li.navigation__item
              a(href='post-visitor-no-tags.html') post-visitor-no-tags.html --- Страница поcта (для посетителя) без тегов
            li.navigation__item
              a(href='post-visitor-no-comments.html')
                | post-visitor-no-comments.html --- Страница поcта (для посетителя) без
                | комментариев
            li.navigation__item
              a(href='post-visitor-no-photo.html')
                | post-visitor-no-photo.html --- Страница поcта (для посетителя) без
                | фотографии
            li.navigation__item
              a(href='post-user-2.html')
                | post-user-2.html --- Страница поcта (для пользователя) с
                | ошибкой отправки комментария
            li.navigation__item
              a(href='uikit.html') uikit.html --- UI KIT
        include common/search-btn
      main
        section.modal.modal--flex
          .popup.popup--new-publication.popup--flex
            .new-publication
              form(action='#', method='POST')
                .new-publication__header
                  if article
                    h1 Новая публикация
                  .new-publication__date-form
                    h3 Дата публикации
                    .new-publication__date-form-division
                      .new-publication__date-block
                        label(for='new-publication-date', aria-label='Календарь')
                        input#new-publication-date(type='text', name='login', placeholder=`${article.createdDate.slice(0, 10)}`)
                  button.new-publication__button.button.button--colored(type='submit') Опубликовать
                button.popup__button.button.button--popup-close(type='button', aria-label='Закрыть окно')
                  | Закрыть
                  | окно
                .new-publication__form.form
                  .form__wrapper.form__wrapper--intro
                    .form__field
                      label
                        input(type='text', placeholder='Заголовок', required='', value=`${article.title}`)
                    .form__field.form__field--post-image
                      label
                        input#image-name-field(type='text', placeholder='Фотография', readonly='')
                      .form__image-loader.form__image-loader--publication
                        label
                          input.visually-hidden(type='file')
                          | Обзор

                    .new-publication__category-wrapper
                      each category, index in article.category
                        .new-publication__checkbox.new-publication__checkbox--auto
                          input(id=`category-${index}` type='checkbox' name=`category-${index}` checked='true')
                          label(for=`checkbox-${index}`) #{category}
                      a.new-publication__form-link.button.button--transparent(href='#') Добавить категорию

                  .form__wrapper.form__wrapper--text
                    .form__field.form__field--publication-text
                      label
                        textarea(rows='1', placeholder='Анонс публикации')
                          | #{article.announce}
                    .form__field.form__field--publication-text
                      label
                        textarea(rows='1', placeholder='Полный текст публикации')
                          | #{article.fullText}
          .modal__overlay
    script(src='js/vendor.js')
    script(src='js/main.js')
